
      body, html {
        height: 90%;
      }
      
      .parallax {
        /* The image used */
        background-image: url('../images/banner.jpg');
        /* Full height */
        height: 100%;
    
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      @media only screen and (max-width: 991px){
      /* CSS that should be displayed if width is equal to or less than 991px goes here */
        body, html {
          height: 90%;
        } 
        .parallax {
          /* The image used */
          background-image: url('../images/banner.jpg');
          /* Full height */
          height: 100%;
      
          /* Create the parallax scrolling effect */
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
      

